<div class="center jumbotron">
	<h1>Witaj w Kinotece!</h1>
	<h2>Zarejestruj się, aby współdzielić z inny osobami ulubione filmy i seriale. Bierz udział w tworzeniu raningu produkcji, które trzeba obejrzeć.</h2><br>
	<%= link_to 'Zarejestruj się!', new_user_path, class: 'btn btn-lg btn-success' %>
</div>
<div class="row">
	<div class="col-lg-4">
		<h2 class="center">
			Filmy
		</h2>
		<h3 class="text-justify">
		Sprawdź informacje o interesującym cię filmie, jego obsadzie i reżyserze.
		</h3><br>
		<p><%= link_to 'Lista Filmów', movies_path, class: 'btn btn-warning btn_home' %></p>
	</div>
	<div class="col-lg-4">
		<h2 class="center">
			Rankingi
		</h2>
		<h3 class="text-justify">
		Wybierz następny film lub serial opierając się na subiektywnym rankingu naszych użytkowników.
		</h3><br>
		<p><%= link_to 'Rankingi', '', class: 'btn btn-warning btn_home' %></p>
	</div>
	<div class="col-lg-4">
		<h2 class="center">
			Seriale
		</h2>
		<h3 class="text-justify">
		Sprawdź informacje o swoich ulubionych serialach. Zobacz, które miejsca zajmują w rankingu
		</h3><br>
		<p><%= link_to 'Lista Seriali', movies_path(show: true), class: 'btn btn-warning btn_home' %></p>
	</div>	
</div>
