<div class="row">
	<h1 class="text-center">Zostaw nam wiadomość.</h1>
	<h3>Nieznalazłeś filmu, serialu lub reżysera którego szukałeś? Daj nam znać, napewno wkrótce go dodamy! Jeśli chcesz napisać o czymś innym to też śmiało, odpowiemy lub zignorujemy.</h3><br> 
</div>
<%= render 'form' %>