$navbar-default-bg: #663100;
$navbar-default-color: white;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  border-bottom: solid 4px #331900;
}

#logo {
	margin: 10px;
	float: left;
	font-size: 2em;
	color: white;
	text-transform: uppercase;
	font-weight: bold
}

body {
	padding-top: 100px;
}

.nav_link {
	margin-left: 25px;
	margin-top: 20px;
	float: right;
}

.btn_top {
	width: 120px;
}

.center {
	text-align: center;
}

h1 {
	font-size: 3em;
	margin-bottom: 30px;
}

.jumbotron h2 {
	font-size: 1.7em;
	margin-bottom: 30px;
	text-align: justify;
	color: #777;
}

.left {
	text-align: left;
	letter-spacing: 0.5px;
}

.footer {
	margin-top: 25px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

.btn_home {
	width: 70%;
	margin-left: 15%;
}

.navbar-toggle {
	margin-top: 20px;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #d2d2d2;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 15px;
}

.radio_button {
	width: 10px;
}

label {
	margin-right: 20px;
}

.img_show {
	height: 400px;
}

.img_index {
	height: 180px;
}