<header class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<%= link_to 'Kinoteka', '#', class: 'btn btn-lg btn-primary', id: 'logo' %>
		<div class="nav_link">
			<%= link_to 'Zaloguj', '', class: 'btn btn-default' %>
		</div>
		<div class="nav_link">
			<%= link_to 'Top seriale', '', class: 'btn btn-default btn_top' %>
		</div>		
		<div class="nav_link">
			<%= link_to 'Top filmy', '', class: 'btn btn-default btn_top' %>
		</div>		
	</div>
</header>

